body {
  font-family: Arial, sans-serif;
  text-align: center;
}
input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  width: 350px;

}

#entryHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
}

#date,
#temp,
#content,
#name,
#time-zone,
#weather,
#content,
#country
 {
  margin-bottom: 10px;
  font-size: large;
  

}

#generate {
  background-color: #0d7310;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 1.2rem;

}
.feelings{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;

}
#feelings{
  width: 300px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px;
  display: flex-inline;
  justify-content: center;
  align-items: center;


}

#generate:hover {
  background-color: #000000;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  justify-content: center;
}
.footer{
  margin: 10px;
  font-weight: bold;

}